*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #40e0d0;
    background: linear-gradient(139deg ,#40e0d0, #ff8c00 , #ff0080 )
}
p {
    text-align: center;
    font-size: 40px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.container{
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}
.addTask{
    width: 100%;
    display: flex;
    padding: 10px 0;
    margin-top: 50px;
}
.addTask > input[type="text"]{
    width: 90%;
    color:#333;
    border : none;
    border-bottom: 2px solid #666;
    background: none;
    padding: 10px;
    font-size:22px;
    outline: none;
}
.addTask button{
    margin: 0 10px;
    background: #222;
    color: #fff;
    font-size:18px;
    text-transform: uppercase;
    padding:10px;
    border: none;
    outline: none;
    border-radius:5px;
    cursor: pointer;
}
.notCompleted, .Completed{
    margin: 5px 0;
    padding: 20px;
}
h3{
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #fff; 
}
ol{
    list-style:none;
    counter-reset: my-counter;
}
ol li{
    width:100%;
    padding:18px;
    margin:5px 0;
    background: #f3035fbb;
    font-size:22px;
    counter-increment: my-counter;
}
ol.Completed li{
    background: #7bbebb;
}
ol li::before{
    content : counter(my-counter);
    background:#725e79;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align:center;
    color: #fff;
    margin-right: 0.5rem;
}
li button{
    float:right;
    padding: 5px;
    font-size:28px;
    line-height: 28px;
    margin-right: 15px;
    background: none;
    border:none;
    outline: none;
    cursor :pointer;
}
